# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution
bin/
build/
dist/
lib/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local Configurations
local.*
